<h1>create user form goes here</h1>



<%= form_for @user do |f| %>
	<%= f.text_field :name, {:placeholder => 'name'} %>
	<%= f.email_field :email, {:placeholder => 'email address'} %>
	
	<%= f.submit "Create User" %>
<% end %>